# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Dockerfile and docker-compose files
Dockerfile
docker-compose.yml

# Ignore other unwanted files
.DS_Store
*.swp
*.swo

Dockerfile
.dockerignore
.git
.gitignore
.gitattributes
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
.editorconfig
.svelte-kit
.vscode
node_modules
build
package
**/.env